@import "tailwindcss";

@layer base {
  body {
    font-family: Arial, sans-serif; /* Or your preferred font */
    background-color: #eff6ff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
  }
}